@import "tailwindcss";

@import '@fontsource/dela-gothic-one';
@import '@fontsource/poppins';

@theme{

    --font-DelaGothicOne: 'Dela Gothic One', sans-serif; 
    --font-Poppins: 'Poppins', sans-serif;
    --color-blanco: #FFFFFF;
    --color-negro: #000000;

    --color-primario: #FF5151;
    --color-secundario: #FD7272;
    --color-terciario: #CD9898;
    --color-acento: #A4A4A4;
    --color-btn: #C83D3D;
    --color-btnSecundario: #CD9898;
    --color-Blancogris: #D1D1D1;
    
    --color-Vdeg: #05280B;
    --color-Rdeg: #671E0C;
    --color-Odeg: #0F0204;
    
    
    
    
    
}

