---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import Header from "../components/Header.astro";
import HeaderPc from "../components/HeaderPc.astro";
import Layout from "../layouts/Layout.astro";

import Contacto from "../components/Contacto.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import Proyectos from "../components/Proyectos.astro";
import Sobremi from "../components/Sobremi.astro";
---

<Layout>
  <Header />
  <HeaderPc />

  <main class="w-full">
    <Hero />
   
    <Sobremi />

    <section  id="servicio" class="flex flex-col bg-Odeg p-3">
      <div class="w-full max-w-7xl mx-auto mt-32">
        <div class="flex flex-col gap-5 md:items-center">
          <h2
            class="text-3xl lg:text-5xl uppercase
         text-blanco font-DelaGothicOne
         leading-[1.1] tracking-wide"
          >
            Esto incluye en
            <span class="text-primario block">mis servicios</span>
          </h2>
          <p
            class="mt-6 text-blanco/70
         text-base lg:text-lg font-Poppins
         leading-relaxed max-w-2xl"
          >
            Una web bien hecha, moderna, rápida y optimizada para mostrar lo que
            ofreces.
          </p>
        </div>

        <div class="w-full mt-5 lg:mt-20 flex flex-col items-start gap-7">
          <div
            class="w-full flex justify-between items-center
         gap-4 py-6
         border-b border-acento/20
         group cursor-pointer
         transition-all duration-500
         hover:border-primario
         hover:pl-6"
          >
            <div class="flex items-center gap-4">
              <span
                class="text-xs text-grisClaro transition-all duration-300
             group-hover:text-secundario group-hover:scale-110"
              >
                01
              </span>

              <p
                class="text-base lg:text-5xl font-bold font-Poppins uppercase
             text-grisClaro transition-all duration-500
             group-hover:text-blanco"
              >
                SEO técnico optimizado
              </p>
            </div>

            <span
              class="text-grisClaro opacity-0 transition-all duration-500
           group-hover:opacity-100 group-hover:translate-x-2"
            >
              →
            </span>
          </div>

          <!-- 02 -->
          <div
            class="w-full flex justify-between items-center gap-4 py-6 border-b border-acento/20 group cursor-pointer transition-all duration-500 hover:border-primario hover:pl-6"
          >
            <div class="flex items-center gap-4">
              <span
                class="text-xs text-grisClaro transition-all duration-300 group-hover:text-secundario group-hover:scale-110"
                >02</span
              >
              <p
                class="text-base lg:text-5xl font-bold font-Poppins uppercase text-grisClaro transition-all duration-500 group-hover:text-blanco"
              >
                Investigación de palabras clave
              </p>
            </div>
            <span
              class="text-grisClaro opacity-0 transition-all duration-500 group-hover:opacity-100 group-hover:translate-x-2"
              >→</span
            >
          </div>

          <!-- 03 -->
          <div
            class="w-full flex justify-between items-center gap-4 py-6 border-b border-acento/20 group cursor-pointer transition-all duration-500 hover:border-primario hover:pl-6"
          >
            <div class="flex items-center gap-4">
              <span
                class="text-xs text-grisClaro transition-all duration-300 group-hover:text-secundario group-hover:scale-110"
                >03</span
              >
              <p
                class="text-base lg:text-5xl font-bold font-Poppins uppercase text-grisClaro transition-all duration-500 group-hover:text-blanco"
              >
                Copywriting estratégico e imágenes optimizadas
              </p>
            </div>
            <span
              class="text-grisClaro opacity-0 transition-all duration-500 group-hover:opacity-100 group-hover:translate-x-2"
              >→</span
            >
          </div>

          <!-- 04 -->
          <div
            class="w-full flex justify-between items-center gap-4 py-6 border-b border-acento/20 group cursor-pointer transition-all duration-500 hover:border-primario hover:pl-6"
          >
            <div class="flex items-center gap-4">
              <span
                class="text-xs text-grisClaro transition-all duration-300 group-hover:text-secundario group-hover:scale-110"
                >04</span
              >
              <p
                class="text-base lg:text-5xl font-bold font-Poppins uppercase text-grisClaro transition-all duration-500 group-hover:text-blanco"
              >
                Prototipo personalizado
              </p>
            </div>
            <span
              class="text-grisClaro opacity-0 transition-all duration-500 group-hover:opacity-100 group-hover:translate-x-2"
              >→</span
            >
          </div>

          <!-- 05 -->
          <div
            class="w-full flex justify-between items-center gap-4 py-6 border-b border-acento/20 group cursor-pointer transition-all duration-500 hover:border-primario hover:pl-6"
          >
            <div class="flex items-center gap-4">
              <span
                class="text-xs text-grisClaro transition-all duration-300 group-hover:text-secundario group-hover:scale-110"
                >05</span
              >
              <p
                class="text-base lg:text-5xl font-bold font-Poppins uppercase text-grisClaro transition-all duration-500 group-hover:text-blanco"
              >
                Diseño moderno y responsive
              </p>
            </div>
            <span
              class="text-grisClaro opacity-0 transition-all duration-500 group-hover:opacity-100 group-hover:translate-x-2"
              >→</span
            >
          </div>

          <!-- 06 -->
          <div
            class="w-full flex justify-between items-center gap-4 py-6 border-b border-acento/20 group cursor-pointer transition-all duration-500 hover:border-primario hover:pl-6"
          >
            <div class="flex items-center gap-4">
              <span
                class="text-xs text-grisClaro transition-all duration-300 group-hover:text-secundario group-hover:scale-110"
                >06</span
              >
              <p
                class="text-base lg:text-5xl font-bold font-Poppins uppercase text-grisClaro transition-all duration-500 group-hover:text-blanco"
              >
                Integración de Google Analytics
              </p>
            </div>
            <span
              class="text-grisClaro opacity-0 transition-all duration-500 group-hover:opacity-100 group-hover:translate-x-2"
              >→</span
            >
          </div>

          <!-- 06 -->
          <div
            class="w-full flex justify-between items-center gap-4 py-6 border-b border-acento/20 group cursor-pointer transition-all duration-500 hover:border-primario hover:pl-6"
          >
            <div class="flex items-center gap-4">
              <span
                class="text-xs text-grisClaro transition-all duration-300 group-hover:text-secundario group-hover:scale-110"
                >06</span
              >
              <p
                class="text-base lg:text-5xl font-bold font-Poppins uppercase text-grisClaro transition-all duration-500 group-hover:text-blanco"
              >
                Integración de Google Analytics
              </p>
            </div>
            <span
              class="text-grisClaro opacity-0 transition-all duration-500 group-hover:opacity-100 group-hover:translate-x-2"
              >→</span
            >
          </div>

          <!-- 07 -->
          <div
            class="w-full flex justify-between items-center gap-4 py-6 border-b border-acento/20 group cursor-pointer transition-all duration-500 hover:border-primario hover:pl-6"
          >
            <div class="flex items-center gap-4">
              <span
                class="text-xs text-grisClaro transition-all duration-300 group-hover:text-secundario group-hover:scale-110"
                >07</span
              >
              <p
                class="text-base lg:text-5xl font-bold font-Poppins uppercase text-grisClaro transition-all duration-500 group-hover:text-blanco"
              >
                Formulario de contacto optimizado
              </p>
            </div>
            <span
              class="text-grisClaro opacity-0 transition-all duration-500 group-hover:opacity-100 group-hover:translate-x-2"
              >→</span
            >
          </div>

          <!-- 08 -->
          <div
            class="w-full flex justify-between items-center gap-4 py-6 border-b border-acento/20 group cursor-pointer transition-all duration-500 hover:border-primario hover:pl-6"
          >
            <div class="flex items-center gap-4">
              <span
                class="text-xs text-grisClaro transition-all duration-300 group-hover:text-secundario group-hover:scale-110"
                >08</span
              >
              <p
                class="text-base lg:text-5xl font-bold font-Poppins uppercase text-grisClaro transition-all duration-500 group-hover:text-blanco"
              >
                Libro de reclamaciones digital
              </p>
            </div>
            <span
              class="text-grisClaro opacity-0 transition-all duration-500 group-hover:opacity-100 group-hover:translate-x-2"
              >→</span
            >
          </div>

          <!-- 09 -->
          <div
            class="w-full flex justify-between items-center gap-4 py-6 border-b border-acento/20 group cursor-pointer transition-all duration-500 hover:border-primario hover:pl-6"
          >
            <div class="flex items-center gap-4">
              <span
                class="text-xs text-grisClaro transition-all duration-300 group-hover:text-secundario group-hover:scale-110"
                >09</span
              >
              <p
                class="text-base lg:text-5xl font-bold font-Poppins uppercase text-grisClaro transition-all duration-500 group-hover:text-blanco"
              >
                Correo profesional con tu dominio
              </p>
            </div>
            <span
              class="text-grisClaro opacity-0 transition-all duration-500 group-hover:opacity-100 group-hover:translate-x-2"
              >→</span
            >
          </div>

          <!-- 10 -->
          <div
            class="w-full flex justify-between items-center gap-4 py-6 border-b border-acento/20 group cursor-pointer transition-all duration-500 hover:border-primario hover:pl-6"
          >
            <div class="flex items-center gap-4">
              <span
                class="text-xs text-grisClaro transition-all duration-300 group-hover:text-secundario group-hover:scale-110"
                >10</span
              >
              <p
                class="text-base lg:text-5xl font-bold font-Poppins uppercase text-grisClaro transition-all duration-500 group-hover:text-blanco"
              >
                Integración de redes sociales
              </p>
            </div>
            <span
              class="text-grisClaro opacity-0 transition-all duration-500 group-hover:opacity-100 group-hover:translate-x-2"
              >→</span
            >
          </div>

          <!-- 11 -->
          <div
            class="w-full flex justify-between items-center gap-4 py-6 border-b border-acento/20 group cursor-pointer transition-all duration-500 hover:border-primario hover:pl-6"
          >
            <div class="flex items-center gap-4">
              <span
                class="text-xs text-grisClaro transition-all duration-300 group-hover:text-secundario group-hover:scale-110"
                >11</span
              >
              <p
                class="text-base lg:text-5xl font-bold font-Poppins uppercase text-grisClaro transition-all duration-500 group-hover:text-blanco"
              >
                Optimización avanzada de carga
              </p>
            </div>
            <span
              class="text-grisClaro opacity-0 transition-all duration-500 group-hover:opacity-100 group-hover:translate-x-2"
              >→</span
            >
          </div>

          <!-- 12 -->
          <div
            class="w-full flex justify-between items-center gap-4 py-6 border-b border-acento/20 group cursor-pointer transition-all duration-500 hover:border-primario hover:pl-6"
          >
            <div class="flex items-center gap-4">
              <span
                class="text-xs text-grisClaro transition-all duration-300 group-hover:text-secundario group-hover:scale-110"
                >12</span
              >
              <p
                class="text-base lg:text-5xl font-bold font-Poppins uppercase text-grisClaro transition-all duration-500 group-hover:text-blanco"
              >
                Política de privacidad y popup legal
              </p>
            </div>
            <span
              class="text-grisClaro opacity-0 transition-all duration-500 group-hover:opacity-100 group-hover:translate-x-2"
              >→</span
            >
          </div>

          <!-- 13 -->
          <div
            class="w-full flex justify-between items-center gap-4 py-6 border-b border-acento/20 group cursor-pointer transition-all duration-500 hover:border-primario hover:pl-6"
          >
            <div class="flex items-center gap-4">
              <span
                class="text-xs text-grisClaro transition-all duration-300 group-hover:text-secundario group-hover:scale-110"
                >13</span
              >
              <p
                class="text-base lg:text-5xl font-bold font-Poppins uppercase text-grisClaro transition-all duration-500 group-hover:text-blanco"
              >
                Y mucho más
              </p>
            </div>
            <span
              class="text-grisClaro opacity-0 transition-all duration-500 group-hover:opacity-100 group-hover:translate-x-2"
              >→</span
            >
          </div>
        </div>

        <div class="flex justify-center mt-28">
          <a
            href="#"
            class="group w-fit relative overflow-hidden flex gap-5 items-center text-sm lg:text-base
								text-blanco font-Poppins font-bold
								bg-btn px-11 py-4 rounded-4xl
								transition-all duration-500
								hover:-translate-y-0.5
								hover:shadow-[0_15px_50px_rgba(0,0,0,0.25)]"
          >
            <!-- Efecto luz que cruza -->
            <span
              class="absolute inset-0 -translate-x-full
									bg-linear-to-r
									from-transparent
									via-white/30
									to-transparent
									group-hover:translate-x-full
									transition-transform duration-1000
									ease-[cubic-bezier(0.22,1,0.36,1)]"
            >
            </span>

            <span class="relative z-10"> Cotiza ahora por whatsapp </span>

            <Icon
              name="iconoir:whatsapp-solid"
              class="relative z-10 text-blanco size-6
									transition-transform duration-300
									group-hover:rotate-6 group-hover:scale-110"
            />
          </a>
        </div>
      </div>
    </section>

    <Proyectos />

    <Contacto />
  </main>
  <Footer />
</Layout>

