---


import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import Header from '../components/Header.astro';
import HeaderPc from '../components/HeaderPc.astro';
import Layout from '../layouts/Layout.astro';
import ImagenHero from "../assets/images/imagen-hero-movil.png"
import ImagenAstro from "../assets/images/astro.png"
import ImagenWordpress from "../assets/images/wordpress.png"

---

<Layout>
	
	<Header />
	<HeaderPc />
	
	<main class="w-full">
		<section class="relative top-0 left-0 z-0 h-full bg-linear-to-b from-0% from-Vdeg via-50% via-Rdeg to-100% to-Odeg ">
			<div class="max-w-7xl  mx-auto p-3  ">
				<div class="flex flex-col gap-5 mt-24">
					<h1 class="font-DelaGothicOne text-2xl text-blanco">
						SITIO WEB INFORMATIVO <span class="text-terciario">PROFESIONAL</span> PARA TU EMPRESA
					</h1>
					<p class="text-blanco text-base font-Poppins">
						Tu negocio necesita una web moderna, rápida y optimizada para mostrar lo que ofreces y convertir visitantes en clientes.
					</p>

					<div class="flex flex-col lg:flex-row mt-5 items-center gap-5">
						<a href="#" 
						class="group  min-w-2xs relative overflow-hidden flex gap-5 items-center text-sm lg:text-base
								text-blanco font-Poppins font-bold
								bg-btn px-11 py-4 rounded-4xl
								transition-all duration-500
								hover:-translate-y-0.5
								hover:shadow-[0_15px_50px_rgba(0,0,0,0.25)]">

						<!-- Efecto luz que cruza -->
						<span class="absolute inset-0 -translate-x-full 
									bg-linear-to-r 
									from-transparent 
									via-white/30 
									to-transparent
									group-hover:translate-x-full
									transition-transform duration-1000 
									ease-[cubic-bezier(0.22,1,0.36,1)]">
						</span>

						<span class="relative z-10">
							Hablemos por whatsapp
						</span>

						<Icon name="iconoir:whatsapp-solid" 
								class="relative z-10 text-blanco size-6 
									transition-transform duration-300 
									group-hover:rotate-6 group-hover:scale-110" />
						</a>

						<a href="#proyectos" 
						class="group min-w-2xs px-11 py-4 
								border border-btnSecundario 
								rounded-4xl 
								text-btnSecundario text-sm lg:text-base  
								font-bold flex justify-center
								transition-all duration-300
								hover:bg-btnSecundario/10
								hover:border-btnSecundario
								hover:-translate-y-0.5">

						<span class="transition-colors duration-300 
									group-hover:text-white">
							Ver proyectos
						</span>

						</a>

					</div>
				</div>

				<div class="mt-10">
					<Image src={ImagenHero}  alt="Imagen hero KCMSMART.COM" 
					class="w-full h-auto shadow-2xl" fetchpriority="high"/>

				</div>

				<div class="flex flex-col items-center gap-5 mt-16">
					<span class="text-blanco font-Poppins font-extralight">Con tecnología</span>
					<div class="flex gap-5 items-center justify-center">
					<Image src={ImagenAstro} class="w-14" width={63} height={79} alt="Imagen de Astro"/>
					<Image src={ImagenWordpress} class="w-16 h-16" width={64} height={63} alt="Imagen de Wordpress"/>
				</div>
				</div>
				
			</div>
		</section>


	</main>
	

</Layout>
