---
import ImagenLogo from "../assets/images/KCMSMART.png";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
---

<footer class="bg-Odeg w-full">
  <div class="max-w-7xl mx-auto p-3">
    <Image
      src={ImagenLogo}
      alt="Imagen Logo"
      class="w-full h-auto pt-32 pb-16"
    />

    <div
      class="w-full flex flex-row items-center lg:items-start gap-4 mt-16 mb-5"
    >
      <a
        href=""
        class="p-3 rounded-full
          bg-white/5
          hover:bg-secundario
          transition-all duration-300
          group"
      >
        <Icon
          name="iconoir:instagram"
          class="size-6 text-secundario group-hover:text-negro transition"
        />
      </a>

      <a
        href=""
        class="p-3 rounded-full
          bg-white/5
          hover:bg-secundario
          transition-all duration-300
          group"
      >
        <Icon
          name="iconoir:facebook-tag"
          class="size-6 text-secundario group-hover:text-negro transition"
        />
      </a>

      <a
        href=""
        class="p-3 rounded-full
          bg-white/5
          hover:bg-secundario
          transition-all duration-300
          group"
      >
        <Icon
          name="iconoir:tiktok"
          class="size-6 text-secundario group-hover:text-negro transition"
        />
      </a>
    </div>
    <div
      class="py-5 border-t border-blanco/10 flex flex-col lg:flex-row justify-between items-center"
    >
      <p class="text-blanco/60 tracking-wide text-sm">
        © <a href="">KCMSMART.COM</a>
        {new Date().getFullYear()} | <br class="flex lg:hidden" /> Todos los derechos
        reservados
      </p>
      <ul  class="flex flex-row gap-4 justify-center items-center">
        <li>
          <a
            href="/"
            class="font-Poppins text-sm text-acento/70
              hover:text-secundario
              transition-colors duration-300"
          >
            T&C
            
          </a>
        </li>

        <li>
          <a
            href="/"
            class="font-Poppins text-sm text-acento/70
              hover:text-secundario
              transition-colors duration-300"
          >
            Política de cookies
          </a>
        </li>

        <li>
          <a
            href="/"
            class="font-Poppins text-sm text-acento/70
              hover:text-secundario
              transition-colors duration-300"
          >
            Privacidad de datos
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
