---
import {Icon} from "astro-icon/components"
---

<header class="absolute z-50 w-full p-3 flex flex-col lg:hidden">
		<nav class="max-w-7xl flex justify-between items-center">
			<a href="/" class="font-DelaGothicOne text-blanco/80 text-base ">KCMSMART</a>
			<div>
				<Icon name="iconoir:menu" class="text-blanco/80 size-7 flex cursor-pointer" />
				<Icon name="iconoir:menu-scale" class="text-blanco/80 size-7 hidden cursor-pointer" />
			</div>
		</nav>

</header>