---

interface menu {
    nombre: string,
    href: string
}

const menuItems: menu[] = [
    {nombre:"Inicio", href:"/"},
    {nombre:"Sobre mi", href:"#sobremi"},
    {nombre:"Servicio", href:"#servicio"},
    {nombre:"Proyectos", href:"#proyectos"},
    {nombre:"Blog", href:"#"},
    {nombre:"Contacto", href:"#contacto"},
    
    ]
---

<header id="header" class="absolute top-0 left-0 z-50 w-full mt-4 hidden lg:flex">
    <nav class="max-w-7xl w-full  mx-auto px-3 flex justify-between items-center ">
        <a href="/" class="text-xl font-DelaGothicOne text-blanco">KCMSMART</a>
        <ul class="flex justify-between gap-7">
            {
                menuItems.map((i)=>{
                    return(
                        <li class="">
                            <a href={i.href} class="text-blanco font-Poppins text-sm font-extralight">{i.nombre}</a>
                        </li>
                    )
                })
            }
        </ul>
    </nav>
</header>