---
import { Icon } from "astro-icon/components";


---

<header class="sticky top-0 left-0 z-50 w-full p-3">
    <nav>
        <a href="/" class="font-DelaGothicOne"> KCMSMART</a>
        <Icon name="pepicons-pop:menu-circle" />
    </nav>

</header>