---

import HeaderPc from "../components/HeaderPc.astro";
import PopUp from "../components/PopUp.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>Páginas Web en Lima, Perú | Diseño y Desarrollo Web Profesional – KCM SMART </title>
    <meta name="description" content="Diseño y desarrollo web en Lima, Perú. Páginas modernas, rápidas y optimizadas para un excelente rendimiento y experiencia de usuario.">
    <meta name="keywords" content="diseño web Lima, desarrollo web Lima Perú, páginas web profesionales, diseñador web freelancer Lima, creación de páginas web Perú, diseño web corporativo, desarrollo web profesional">
    <meta name="robots" content="index, follow">
    <meta name="author" content="KCM SMART">
    <!-- Canonical -->
    <link rel="canonical" href="https://kcmsmart.com/">
    <meta property="og:image" content="https://kcmsmart.com/logo.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Diseño y Desarrollo Web en Lima, Perú | KCM SMART">
    <meta name="twitter:description" content="Sitios web profesionales optimizados para rendimiento y experiencia de usuario.">
    <meta name="twitter:image" content="https://kcmsmart.com/logo.png">
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ProfessionalService",
      "name": "KCM SMART",
      "image": "https://kcmsmart/logo.png",
      "url": "https://kcmsmart.com/",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Lima",
        "addressCountry": "PE"
      }
    }
    </script>
  
  </head>
  <body class="relative">
    
    <slot />
    <PopUp />
  </body>
</html>
